<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker Country Wise</h1>
  <hr />
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error eveniet ipsum
    tempore accusamus nostrum expedita qui? Quibusdam, quidem sed. Ad voluptas
    excepturi dolorem culpa numquam, cupiditate amet nulla reiciendis sequi.
  </p>
  <hr class="my-4" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque commodi nihil
    sequi itaque ex reprehenderit culpa officiis delectus quibusdam neque? Cum
    corporis modi est voluptate rerum possimus! Quia, necessitatibus nobis!
  </p>
</div>
